<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    @font-face {
      font-family: 'Noto Sans';
      src: url('/usr/share/fonts/noto/NotoSans-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    * { box-sizing: border-box; margin: 0; padding: 0; }
    html, body {
      width: 100vw;
      font-family: 'Noto Sans', 'Noto Sans CJK JP', sans-serif;
    }
    .content {
      width: 100vw;
    }
  </style>
</head>
<body>
  <div class="content">{{ content | safe }}</div>
</body>
</html>
