[Unit]
Description=inksink Anki e-ink display
After=network-online.target
Wants=network-online.target

[Service]
User=pi
ExecStart=/usr/local/bin/inksink
Restart=on-failure
RestartSec=10
Environment=INKSINK_VERSION={{ inksink_version if inksink_version else lookup('pipe', 'git describe --tags --always') }}

[Install]
WantedBy=multi-user.target
